<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Trabalho php</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app">
    <label for="hora">Hora:</label>
    <form @submit.prevent="guardaTempo()">
        <input type="time" name="hora" v-model="hora">
        <button type="submit">Adicionar Ponto</button>
    </form>
    <table>
        <tr>
            <th v-for="(ponto,index) in pontos"><span v-if="index % 2 === 1">Saída</span><span v-else>Entrada</span></th>
            <th v-if = "pontos.length % 2 ===1">Agora</th>
            <th v-if="pontos.length > 0">Tempo Trabalhado</th>
        </tr>
        <tr>
            <td v-for="ponto in pontos">{{ponto}}</td>
            <td v-if="pontos.length % 2 ===1">{{horaAgora}}</td>
            <td v-if="pontos.length > 0">{{horaFim}}</td>
        </tr>
    </table>
    <br><br><br><br><br>
    <!--<pre>-->
<!--hora: {{hora}}-->
<!--pontos:{{pontos}}-->
<!--horaAgora:{{horaAgora}}-->
<!--agora:{{agora}}-->
<!--entradas:{{entradas}}-->
<!--saidas:{{saidas}}</pre>-->
</div>
<script src="index.js"></script>
</body>

</html>