<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ELETROPONTO ⚡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <h1 class="title col-md-12">⚡ ELETROPONTO ⚡</h1>
    </div>
    <form @submit.prevent="guardaTempo()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span id="totalConclusao" class="input-group-text">
                                <i class="material-icons">notifications_active</i> Tempo Total
                            </span>
                        </div>
                        <input type="time" class="form-control hora" name="totalConclusao" v-model="totalConclusao">
                    </div>
                    <small class="form-text text-muted">será considerado 8:00 caso campo estiver vazio</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="deschora">
                                <p>
                                    <i class="material-icons">schedule</i> 
                                    Ponto
                                </p>
                            </span>
                        </div>
                        <input class="form-control hora"
                               aria-describedby="deschora"
                               type="time"
                               name="hora"
                               v-model="hora">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md-4">
                <div class="form-group">
                    <input type="submit"
                           class="btn btn-primary btn-lg"
                           value="Adicionar">
                    <input type="button"
                           class="btn btn-primary btn-lg"
                           @click="resetaValores"
                           value="Limpar">
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <tr>
            <th v-for="(ponto,index) in pontos"><span v-if="index % 2 === 1">Saída</span><span v-else>Entrada</span>
            </th>
            <th v-if="pontos.length % 2 ===1">Agora</th>
            <th v-if="pontos.length > 0">Tempo Trabalhado</th>
            <th v-if="pontos.length > 0">Banco de Horas</th>
        </tr>
        <tr>
            <td v-for="ponto in pontos">{{ponto}}</td>
            <td v-if="pontos.length % 2 ===1">{{horaAgora}}</td>
            <td v-if="pontos.length > 0">{{horaFim}}</td>
            <td v-if="pontos.length > 0">{{diferencaTempo(totalConclusao,horaFim)}}</td>
        </tr>
    </table>
    <!--    <pre>-->
    <!--        hora: {{hora}}-->
    <!--        pontos:{{pontos}}-->
    <!--        horaAgora:{{horaAgora}}-->
    <!--        agora:{{agora}}-->
    <!--        entradas:{{entradas}}-->
    <!--        saidas:{{saidas}}-->
    <!--    </pre>-->
</div>
<script src="moment.min.js">
    moment().format();
</script>
<script src="index.js"></script>
</body>

</html>