<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ELETROPONTO ⚡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <h1 class="title col-md-12">⚡ ELETROPONTO ⚡</h1>
    </div>
    <form @submit.prevent="guardaTempo()">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                                              <span class="input-group-text" id="descHora">
                                                  <i class="material-icons">alarm</i>
                                              </span>
                        </div>
                        <input class="form-control hora"
                               aria-describedby="descHora"
                               type="time"
                               name="hora"
                               v-model="hora">
                        <div class="input-group-append">
                            <input type="submit"
                                   value="Adicionar Ponto">
                        </div>
                        <div class="input-group-append">
                            <input type="button"
                                   @click="resetaValores"
                                   value="Limpar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <tr>
            <th v-for="(ponto,index) in pontos"><span v-if="index % 2 === 1">Saída</span><span v-else>Entrada</span>
            </th>
            <th v-if="pontos.length % 2 ===1">Agora</th>
            <th v-if="pontos.length > 0">Tempo Trabalhado</th>
        </tr>
        <tr>
            <td v-for="ponto in pontos">{{ponto}}</td>
            <td v-if="pontos.length % 2 ===1">{{horaAgora}}</td>
            <td v-if="pontos.length > 0">{{horaFim}}</td>
        </tr>
    </table>
    <br><br><br><br><br>
    <pre>
        hora: {{hora}}
        pontos:{{pontos}}
        horaAgora:{{horaAgora}}
        agora:{{agora}}
        entradas:{{entradas}}
        saidas:{{saidas}}
    </pre>
</div>
<script src="index.js"></script>
</body>

</html>